# Example env values (see deploy/manager/.env.example and deploy/worker/.env.example)
MANAGER_PORT=5357
MANAGER_URL=http://192.168.0.111:5357
SMB_HOST_1=172.16.16.126
SMB_USER_1=tester
SMB_PASSWORD_1=password
SMB_SHARE_FOLDER_1=share
STORAGE_ROOTS=172.16.16.126=/172.16.16.126
